footer {
  background-color: #000;
  color: #fff;
  padding: 20px 0;
  position: static;
  bottom: 0;
  width: 100%;
  text-align: center;
}

footer p {
  font-size: var(--font-size-small);
}

/* Clase para destacar el footer */
.highlight-footer {
  background-color: #ffcc00;
  /* Fondo amarillo si se aplica la clase */
}