<section class="row coworking__featured">
  <div class="section__title">
    <h2>Coworkings destacados</h2>
  </div>
  <div *ngFor="let coworking of coworkings" class="col-6 col-xl-3 mb-3">
    <a href="ficha.html?id={{coworking.id}}">
      <div class="card">
        <img src="{{coworking.imagen}}" alt="{{coworking.nombre}}">
        <div class="card-body">
          <h5 class="card-title">{{coworking.nombre}}</h5>
          <p class="card-text">Desde {{coworking.precio}}</p>
        </div>
      </div>
    </a>
  </div>
</section>
