<section class="container-fluid hero">
  <div class="hero__title mb-4">
    <h1>Encuentra tu lugar de trabajo perfecto</h1>
  </div>
  <div class="hero__search">
    <div class="input-group mb-3">
      <input type="search" class="form-control" placeholder="Buscar coworking" aria-label="Buscar coworking"
        aria-describedby="basic-addon2" [(ngModel)]="searchText">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="onSearch()"><i
            class="bi bi-search"></i></button>
      </div>
    </div>
  </div>
</section>


